# Test files and folders
test.*
test/
tests/
test_*.*
test_*/

# ignore __pycache__
__pycache__

# Ignore .npy and .npz files
*.npy

# Ignore file containing last states of the simulation (very big files)
data/Last States

# ignore old data files
data/old

# Ignore .zip files
*.zip